@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    transition: 0.7s
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.5rem;
    background-color: #fff;
    text-align: center;
}

button {
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 2rem;
    margin-top: 9px;
    width: 100%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 628px) {
    .container {
        width: 15rem;
        padding: 0.325rem;
        border-radius: 0.325rem;
        background-color: #fff;
        text-align: center;
        font-size: 1.1rem;
    }
}